{% extends "layout.html" %}
{% load static from staticfiles %}

{% block body %}


<div class="fluid-container">
  <form class="" method="post">
    {% csrf_token %}
    <div class="row border-top-0">
      {% for x in data %}
        <div class="col-sm-3">
          <input type="checkbox" name="checks" value="{{ x }}">{{ x }}</input>
        </div>
      {% endfor %}
    </div>
    <div class="center-block mt-3 mb-3">
      <button class="btn btn-primary btn-lg" type="submit" value="Submit">Submit</button>
    </div>
  </form>
</div>

{% endblock body %}
